.todo-item {
  display: flex;
  justify-content: space-between;
}

.todo-item.done .title {
  text-decoration: line-through;
}

.todo-item .title {
  cursor: pointer;
  font-size: 1.25rem;
  color: #353535;
}

.todo-item .title.important {
  color: #42a746;
  font-weight: 600;
}

.todo-item .title:hover {
  filter: brightness(85%);
}

.todo-item .btn {
  width: 31px;
}

.todo-item .btn:not(:first-of-type) {
  margin-left: 8px;
}

