.todo-item {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: auto max-content;
	align-items: center;
}

.todo-item.done .title {
  text-decoration: line-through;
}

.todo-item .title {
  cursor: pointer;
  font-size: 1rem;
  color: #353535;
}

@media only screen and (min-width: 576px) {
  .todo-item .title {
    font-size: 1.15rem;
  }
}

.todo-item .title.important {
  color: #42a746;
  font-weight: 600;
}

.todo-item .title:hover {
  filter: brightness(85%);
}

.todo-item .btn {
  width: 31px;
}

.todo-item .btn:not(:first-of-type) {
  margin-left: 8px;
}

